div.container{
	margin-left: auto;
    margin-right: auto;
	width: 1250px;
	height: 350px;
}

div.rightAlign{
	margin-left: auto;
    margin-right: auto;
	background: white;
	text-align: center;
	box-shadow: inset 0px 0px 10px 0.1px #000111;
	border:0px solid;
}

div.leftAlign{
	float:left;
	background: white;
	height:520px;
	width:320px;


	border:0px solid;

	text-align: center;
	/*padding-top: 50px;*/
	overflow: hidden;
}

h1,h2{
	text-align: center;
	text-shadow: 1px 1px 2px #000000;

}

canvas.center{
	display:inline;
	width: 1250px;
	height: 350px;
}

div.upperHeader{
	width:340px;
	height:75px;
	box-shadow: inset 0px 0px 10px 0.1px #000111;
	margin-bottom: 25px;
	padding-top: 10px;
	padding-bottom: 50px;
}